@import "tailwindcss";

body {
    scrollbar-width: none !important;       /* Firefox */
    -ms-overflow-style: none !important;    /* IE and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none !important;               /* Chrome, Safari, Opera */
  }
  